# Игнорировать системные папки Python
__pycache__/
*.py[cod]
*$py.class

# Игнорировать виртуальное окружение
venv/
env/
.venv/

# Игнорировать локальную базу данных (чтобы не публиковать свои расходы на GitHub)
expenses.json
